# Sick Beard autoProcessTV configuration file
# Used in combination with scripts like sabToSickBeard that call autoProcessTV
#
# Rename (or copy) autoProcessTV.cfg.sample to autoProcessTV.cfg
# Change the host, port, username, and password values
# to the appropriate settings for your Sick Beard server.
#
# Example:  Sick Beard can be accessed on http://localhost:8081
#           without username/password
#
# host=localhost    # Sick Beard host (localhost or IP address)
# port=8081         # Sick Beard port
# api_key=          # Sick Beard api key
# web_root=         # Sick Beard web_root
# ssl=0             # http (ssl=0) (for https use ssl=1)

[General]
loglevel=INFO
#DEBUG WARN ERROR INFO

[SickBeard]
host=localhost
port=8081
api_key=
web_root=/
ssl=0
app_token=OKCXmkvHN1syU2e8xvpefTnyvVWGv5
# took app token from sickbeard, if U use your own, replace

[Pushover]
use_pushover=0
user_key=
push_device=
#leave blank for all devices

[NMA]
use_nma=0
nma_api=
nma_priority=

[Pushbullet]
use_pushbullet=0
ptoken=
channeltag=
deviceid=

[Email]
use_email=0
from_address=
to_address=
ssl=1
smtp_server=
smtp_user=
smtp_pass=
smtp_port=25
starttls=0

[Kodi]
host=
port=

[Autosub]
app_token=
channel_tag=
