# Original Sick Beard autoProcessTV configuration file
# Adapted for use in Sickbeard Suite scripts
#
# Rename (or copy) settings.cfg.sample to settings.cfg
# Change the host, port, username, and password values
#
# Example:  Sick Beard can be accessed on http://localhost:8081
#           without username/password
#
# host=localhost    # Sick Beard host (localhost or IP address)
# port=8081         # Sick Beard port
# api_key=          # Sick Beard api key
# web_root=         # Sick Beard web_root
# ssl=0             # http (ssl=0) (for https use ssl=1)
# choose your notification method by replacing 0 for 1
# eg. use_pushover=1
# Be sure to check or fill in the info when mandatory:

[General]
loglevel=INFO
#DEBUG WARN ERROR INFO
logpath=
logfile=scripts.log
# set this to 0 if you only want to use github_notifier
use_sickbeard=1

#######
# custom notification format, this supports simple html tags (https://pushover.net/api#html)
# fields of choice are: {SHOW} (tv show name), {SEASON} (season number), {EPIS} (episode number), {EPNAME} (episode name)
#and {LANG} (used in autosub downloaded subtitle language) a default format is provided below
#
#push_sound, see https://pushover.net/api#sounds for more info,
#leave blank to use your own sound settings as set in the pushover app.
#example: push_sound=bike
#######

[Sickrage-pp]
push_title=Download Finished:
push_msg={SHOW} - {SEASON}x{EPIS} - {EPNAME} - {QLTY}
push_sound=

[Sickbeard-cancelled]
push_title=Show Cancelled!:
push_msg=<i><b>{SHOW}</b> is possibly cancelled...</i>
push_sound=

[Sickbeard-s2w]
push_title=Set to Wanted:
push_msg={SHOW} - {SEASON}x{EPIS} - {EPNAME}
push_sound=

[Sickbeard-missed]
push_title=Missed Episode:
push_msg={SHOW} - {SEASON}x{EPIS} - {EPNAME}
push_sound=

[Analyze-log]
apptoken = aWB5Wn31hSjcLg3n4thCKufdEu5Z6L

[SickBeard] ; or Sickrage info
#mandatory:
host=localhost
port=8081
api_key=
web_root=/
ssl=0
app_token=OKCXmkvHN1syU2e8xvpefTnyvVWGv5 ;pushover app token, this is the sickbeard default.
# used in tmToPVR cannot be empty when using this script
tv_download_dir=
web_username=
web_password=

[Pushover]
use_pushover=0
#mandatory:
user_key=
#optional:
push_device= ;specify your device, leave blank for all devices


[NMA]
use_nma=0
#mandatory:
nma_api=
#optional:
nma_priority=

[Pushbullet]
use_pushbullet=0
#mandatory:
ptoken=
#optional:
channeltag=
deviceid=

[Email]
use_email=0
#mandatory
from_address=
to_address=
ssl=1
smtp_server=
smtp_user=
smtp_pass=
smtp_port=25
starttls=0

[Kodi] ;Kodi integration, updates the episode in kodi, only used when muxing is used
use_kodi=0
host=
port=

[Symlinks] ;Make symlink in a directory, you can add this in kodi to have only shows that have subtitles
use_symlinks=0
symdir= ;set the path where you want symlinks to video and subtitle file

[Autosub]
muxing=0 ;use muxing to integrate sub and video in .mkv. if this is disabled, this also disables kodi integration
#pushover: (optional)
app_token=
#pushbullet: (optional)
channeltag=
push_title=Download Finished:
push_msg={SHOW} - {SEASON}x{EPIS} - {EPNAME} - {LANG}
push_sound=

[Transmission]
deletetorrents=0 ;this setting enables the removal of the torrent from transmission torrent list.
host=localhost
port=9091
tordir= ;location where transmission puts your downloads
username=
password=

[Github]
user=
#pushover: (optional)
app_token=
logging=1
push_sound=
